@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities{
  .scrollbar-light{
    &::-webkit-scrollbar{
      width: 10px;
    }
    &::-webkit-scrollbar-track{
      background-color: #eaecef;
      border-radius: 0.375rem;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #5a5e63;
      border-radius: 0.375rem;
    }
  }

  .scrollbar-dark{
    &::-webkit-scrollbar{
      width: 10px;
    }
    &::-webkit-scrollbar-track{
      background-color: #302f32;
      border-radius: 0.375rem;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #949396;
      border-radius: 0.375rem;
    }
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #d7d8de;
}

/* ライトモード */
.css-ntjas1-MuiButtonBase-root-MuiButton-root {
  padding:0.25rem 0.5rem !important;
  --tw-bg-opacity: 1;
  background-color: rgb(56 114 255 / var(--tw-bg-opacity))!important;
}
.css-ntjas1-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    background-color: rgba(0, 0, 0, 0.12)!important;
  };

  /* ダークモード */
.css-1dbvjsp-MuiButtonBase-root-MuiButton-root{
    padding: 0.25rem 0.5rem !important;
    --tw-bg-opacity: 1;
    background-color: rgb(89 133 255 / var(--tw-bg-opacity))!important;
}
.css-1dbvjsp-MuiButtonBase-root-MuiButton-root-disabled{
    background-color: rgb(185 28 28 / var(--tw-bg-opacity))!important;
}
